In [3]:
import numpy as np
import pandas as pd

In [ ]:
# Ajuste Pandas
pd.set_option('display.max_columns', None)

In [15]:
def open_csv_data() -> pd.DataFrame:
    '''
    Function for open the data from a csv
    Input: None
    Returns: Pandas DataFrame

    '''
    path = '..\input\Score.csv'
    df = pd.read_csv(path)
    return df

df = open_csv_data()
df.head(10)

,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Amount_invested_monthly,Monthly_Balance,Credit_Score,Credit_Mix,Payment_Behaviour,Age,Annual_Income,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Monthly_Inhand_Salary,Changed_Credit_Limit,Outstanding_Debt,Total_EMI_per_month
0,3.0,7.0,4.0,26.822620,265.0,No,80.415295,312.494089,Good,Good,High_spent_Medium_value_payments,23.0,19114.12,3.0,4.0,3.0,4.0,1824.843333,11.27,809.98,49.574949
1,3.0,7.0,4.0,31.944960,265.0,No,118.280222,284.629162,Good,Good,High_spent_Medium_value_payments,23.0,19114.12,3.0,4.0,3.0,4.0,1824.843333,11.27,809.98,49.574949
2,3.0,7.0,4.0,28.609352,267.0,No,81.699521,331.209863,Good,Good,High_spent_Medium_value_payments,23.0,19114.12,3.0,4.0,3.0,4.0,1824.843333,11.27,809.98,49.574949
3,5.0,4.0,4.0,31.377862,268.0,No,199.458074,223.451310,Good,Good,High_spent_Medium_value_payments,23.0,19114.12,3.0,4.0,3.0,4.0,1824.843333,11.27,809.98,49.574949
4,6.0,4.0,4.0,24.797347,269.0,No,41.420153,341.489231,Good,Good,High_spent_Medium_value_payments,23.0,19114.12,3.0,4.0,3.0,4.0,1824.843333,11.27,809.98,49.574949
5,8.0,4.0,4.0,27.262259,270.0,No,62.430172,340.479212,Good,Good,High_spent_Medium_value_payments,23.0,19114.12,3.0,4.0,3.0,4.0,1824.843333,11.27,809.98,49.574949
6,3.0,8.0,4.0,22.537593,271.0,No,178.344067,244.565317,Good,Good,High_spent_Medium_value_payments,23.0,19114.12,3.0,4.0,3.0,4.0,1824.843333,11.27,809.98,49.574949
7,3.0,6.0,4.0,23.933795,271.0,No,24.785217,358.124168,Standard,Good,High_spent_Medium_value_payments,23.0,19114.12,3.0,4.0,3.0,4.0,1824.843333,11.27,809.98,49.574949
8,3.0,4.0,2.0,24.464031,319.0,No,104.291825,470.690627,Standard,Good,High_spent_Large_value_payments,28.0,34847.84,2.0,4.0,6.0,1.0,3037.986667,5.42,605.03,18.816215
9,7.0,1.0,2.0,38.550848,320.0,No,40.391238,484.591214,Good,Good,High_spent_Large_value_payments,28.0,34847.84,2.0,4.0,6.0,1.0,3037.986667,5.42,605.03,18.816215

In [ ]:
def numerical_data_transform() -> pd.DataFrame:
'''
Escalar datos numericos
Input: Pandas DataFrame
Returns: Pandas DataFrame
'''
    return None